<html>
    <head>
        <title>Common issues and fixes - MDN</title>
        <link rel="stylesheet" type="text/css" href="/static/main.css">
        <link rel="stylesheet" type="text/css" href="/static/common-issues-and-fixes.css">
    </head>
    <body>
        <div id="menuBar">
            <img src="..\static\mdnlogo.png" alt="MDN Logo" id="mdnLogo" height="50px">
            <a href="http://127.0.0.1:5000/" id="home">Home</a>
            <a href="http://127.0.0.1:5000/ourstaff" id="our-staff">Our staff</a>
            <a href="http://127.0.0.1:5000/common-issues-and-fixes" id="ciaf">Common issues and fixes</a>
        </div>
        <div id="main">
            <h1>Common issues and fixes</h1>
            <h2>Connection issues</h2>
            1. If you're getting the error "failed to load world data" or "connection closed." Then this can sometimes be an issue on your end. If this happens then try to connect to the server with a more direct connection. 
            (Using host-name and port) for example: mindustry.ddns.net:1000 (Survival), using this could help possibly fix some issues.<br><br>
            2. If that doesn't work then try changing your DNS server or connecting via IP (92.42.45.96).<br><br>
            3. If the fixes above doesn't fix your issues then please contant someone in our <a href="https://discord.gg/R53PcHPUYJ" id="discordinv">Discord server</a>.
            <h2>Foo's client issues</h2>
            1. If you're on the unstable version of Foo's then switch to the stable version. Switching to the stable version has fixed problems before.
            2. If the fix above doesn't fix your issues then contact someone in our <a href="https://discord.gg/R53PcHPUYJ" id="discordinv">Discord server</a>.
        </div>
    </body>
</html>